services:
  - type: web

    name: admission-blue-client
    repo: https://github.com/The-Crew-and-Scallywag/admissionBlueOcean.git
    staticPublishPath: ./dist
    buildCommand: npm run build
    env: web
    runtime: docker
    branch: main
    rootDir: client
    envVars:
      - key: PORT
        fromService:
          type: web
          name: admission-blue-server
          property: port
      - key: API_URL
        fromService:
          type: web
          name: admission-blue-server
          property: host

  - type: web

    name: admission-blue-server
    repo: https://github.com/The-Crew-and-Scallywag/admissionBlueOcean.git
    runtime: docker
    branch: main
    rootDir: Server
    envVars:
      - key: DATABASE_URL
        fromDatabase:
          type: database
          name: blueocean
          property: connectionString
      - key: PORT
        value: "80"
      - key: INTERVIEWER_TOKEN
        value: "special-awesome-stinky-smelly-super-secret-unique-access-token"

databases:
  - name: blueocean # Render PG14

    databaseName: blueocean
    user: postgres_blueocean
    postgresMajorVersion: 15
